@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*:not(html, body) {
  max-width: 80vw;
  font-family: "Quicksand";
  font-weight: 300;
  text-align: center;
}

th,
td {
  padding: 8px 20px;
  text-align: left;
}

th {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.8em;
  background-color: inherit;
  width: 100%;
}

form,
form input,
form div,
form label,
form textarea {
  text-align: left;
}

.small-spacer {
  height: 3vh;
}

.spacer {
  height: 6vh;
}

.button-container {
  display: block;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.display-1 {
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(147, 148, 165, 1) 17.8%,
    rgba(72, 75, 106, 1) 100.2%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.education,
.position {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15px;
}

.education div,
.position div {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media only screen and (max-width: 600px) {
  .display-1 {
    font-size: 12vw;
  }
}
