@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
    font-family: "Comic Neue";
    font-weight: 300;
    margin: 0px;
}

*:not(html, body) {
    max-width: 80vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input,
.btn,
.form-control,
display-1,
p {
    margin: 0;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
.btn,
display-1 {
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: unset;
}

th,
td {
    padding: 8px 20px;
    text-align: left;
}

th {
    font-weight: bold;
}

.button-container {
    display: block;
    max-width: fit-content;
    margin: auto;
}

.small-spacer {
    height: 3vh;
}

.spacer {
    height: 6vh;
}

.display-1 {
    background: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(147, 148, 165, 1) 17.8%,
        rgba(72, 75, 106, 1) 100.2%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table-hover {
    max-width: 80vw;
}

.education,
.position {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 15px;
}

.education div,
.position div {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
