@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    font-family: "Rubik";
    font-weight: 300;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input,
.btn,
.form-control,
display-1,
p {
    margin: 0;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
.btn,
display-1 {
    text-align: center;
}

html,
body {
    width: 100vw;
    height: auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: unset;
}

th,
td {
    padding: 8px 20px;
    text-align: left;
}

th {
    font-weight: bold;
}

.button-container {
    display: block;
    max-width: fit-content;
    margin: auto;
}

.small-spacer {
    height: 3vh;
}

.spacer {
    height: 6vh;
}

.display-1 {
    color: #484b6a;
}

.table-hover {
    max-width: 80vw;
}

.education {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 15px;
}

.education div {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
